<div id="task-card">
    <div class="card__content d-none">
        <div class="row">
            <div class="col col-2">Регион:</div>
            <div class="col" bind="task.region"></div>
        </div>
        <div class="row">
            <div class="col col-2">Категория:</div>
            <div class="col" bind="task.category"></div>
        </div>
        <div class="row">
            <div class="col col-2">Краткое описание:</div>
            <div class="col" bind="task.short_description"></div>
        </div>
        <div class="row">
            <div class="col col-2">Подробное описание:</div>
            <div class="col" bind="task.full_description"></div>
        </div>
        <div class="row">
            <div class="col col-2">Образ регистрации:</div>
            <div class="col" bind="task.region"></div>
        </div>
        <div class="row">
            <div class="col col-2">Дата регистрации:</div>
            <div class="col" bind="task.date_created"></div>
        </div>
    </div>
</div>

<style>
    .d-none {
        display: none;
    }
    .text-center {
        text-align: center;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        margin-left: -8px;
        margin-right: -8px;
    }
    .col {
        flex: 1;
        padding: 8px;
        max-width: 100%;
    }
    .col-2 {
        flex-basis: calc(2/12*100%);
        max-width: calc(2/12*100%);
    }
    .col-10 {
        flex-basis: calc(10/12*100%);
        max-width: calc(10/12*100%);
    }

    #task-card {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        font-size: 16px;

    }
</style>

<script>
    $(() => {
        let block = document.getElementById("task-card");
        let titleBlock = document.querySelector("#rec149203587 [field=title]");

        async function loadData(id) {
            let res = await fetch(`https://api.datamasters.ru/task/${id}`);
            let data = await res.json();
            return data;
        }

        async function init() {
            let params = new URLSearchParams(location.search);
            let task = await loadData(+params.get("id"));

            titleBlock.innerText = task.title;

            if (!task.task_id) return;

            let contentEl = block.querySelector(".card__content");
            contentEl.classList.remove("d-none");

            let bindings = block.querySelectorAll("[bind]");            
            bindings.forEach((el) => {
                el.innerText = eval(el.getAttribute("bind"));
            });
        }

        init();

    });
</script>