doctype html
html
    head
        meta(charset="utf-8")
        //- link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
        //- link(rel="shortcut icon" href="favicon.png" type="image/png")
        
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Fira+Sans:100,200,300,400,500,700")
        title LeaderID exmaple

    body
        a(href="/api/auth/leaderid/login" target="_blank") OAuth LeaderID
