html, body
    min-height: 100vh
    overflow-y auto
    background: #FAFAFA
    font-family: Roboto, sans-serif
    font-weight: 300
    color: black
    margin 0
    padding 0

[disabled], .disabled
    cursor: not-allowed

ul
    list-style: none
    padding-left: 0

a, a:hover, a:active
    color: inherit
    // text-decoration: underline


.sticky-top
    position: sticky
    top 0
    z-index: 3

.sticky-bottom
    position: sticky
    bottom 0
    z-index: 3


img.size-contains
    max-width 100%
    max-height 100%

.text-ellipsis
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
    
.ru-quotes
    &:before
        content: '“'
    &:after
        content: '”'


.space-l, .space-lr
    &:before
        content: ' '
.space-r, .space-lr
    &:after
        content: ' '

.animated
    transition all ease 0.2s
